{% extends "space/layout.html" %}

{% block body %}

<div class="ldiv"><body class="auth-body" style="background-image: url('/static/space/images/lbg.jpg'); background-size: 2500px;"></body></div>
    <div class="signview">
        <div class = "registertext">
            <h2 class = "registertext">Register</h2>
        </div>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="button-container">
                <input id = "registerbtn" class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
    
        <div class = "divtext">Already have an account? <a href="{% url 'login' %}">Log In here.</a><div>

    </div>

{% endblock %}